# Lab Session

## <font color='blue'> Table Of Contents </font>
- Problem Statement
- Load required libraries
- Connect to DB using mysql-connector-python package
- Create database named `e_commerce`
- Create tables and insert data into tables as specified in the question
- Read all the questions and write sql queries to meet the objective

## <font color='blue'> Problem Statement </font>
###  An E-commerce website manages its data in the form of various tables.
You need to create a Database called `e_commerce` and various tables in it. The tables needed and attributes which need to be in every table are given before hand. All you have to do is create tables with data in it and answer some of the questions that follows.

In [91]:
!pip install mysql-connector-python pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: mysql-connector-python in c:\users\anjal\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (9.1.0)
Requirement already satisfied: pandas in c:\users\anjal\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\anjal\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\anjal\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\anjal\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\anjal\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\anjal\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

WARNING: Ignoring invalid distribution ~orch (C:\Users\anjal\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages)
WARNING: Ignoring invalid distribution ~orch (C:\Users\anjal\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages)
WARNING: Ignoring invalid distribution ~orch (C:\Users\anjal\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages)
WARNING: Ignoring invalid distribution ~orch (C:\Users\anjal\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages)
WARNING: Ignoring invalid distribution ~orch (C:\Users\anjal\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages)

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: C:\Users\anjal\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [92]:
!pip install psycopg2-binary

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: psycopg2-binary in c:\users\anjal\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (2.9.9)

WARNING: Ignoring invalid distribution ~orch (C:\Users\anjal\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages)
WARNING: Ignoring invalid distribution ~orch (C:\Users\anjal\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages)
WARNING: Ignoring invalid distribution ~orch (C:\Users\anjal\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages)
WARNING: Ignoring invalid distribution ~orch (C:\Users\anjal\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages)
WARNING: Ignoring invalid distribution ~orch (C:\Users\anjal\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages)

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: C:\Users\anjal\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

### Load Required Libraries

In [93]:
import mysql.connector  # For connecting to MySQL database
import pandas as pd      # For data manipulation and analysis
import psycopg2  # For connecting to PostgreSQL

### Connect to DB using Mysql-connector-python package

In [111]:
import psycopg2  # Import psycopg2 for PostgreSQL connection

# Step 1: Connect to the PostgreSQL database
conn = psycopg2.connect("postgresql://postgres:test@localhost:5432/e_commerce")
cur = conn.cursor()

# Step 2: Create tables
try:
    # Create supplier table
    cur.execute("""
    CREATE TABLE supplier (
        SUPP_ID INT PRIMARY KEY,
        SUPP_NAME VARCHAR(50),
        SUPP_CITY VARCHAR(50),
        SUPP_PHONE VARCHAR(10)
    );
    """)

    # Create customer table
    cur.execute("""
    CREATE TABLE customer (
        CUS_ID INT NOT NULL PRIMARY KEY,
        CUS_NAME VARCHAR(20) DEFAULT NULL,
        CUS_PHONE VARCHAR(10),
        CUS_CITY VARCHAR(30),
        CUS_GENDER CHAR
    );
    """)

    # Create category table
    cur.execute("""
    CREATE TABLE category (
        CAT_ID INT NOT NULL PRIMARY KEY,
        CAT_NAME VARCHAR(20) DEFAULT NULL
    );
    """)

    # Create product table
    cur.execute("""
    CREATE TABLE product (
        PRO_ID INT NOT NULL PRIMARY KEY,
        PRO_NAME VARCHAR(20) DEFAULT NULL,
        PRO_DESC VARCHAR(60) DEFAULT NULL,
        CAT_ID INT NOT NULL,
        FOREIGN KEY (CAT_ID) REFERENCES category (CAT_ID)
    );
    """)

    # Create product_details table
    cur.execute("""
    CREATE TABLE product_details (
        PROD_ID INT NOT NULL PRIMARY KEY,
        PRO_ID INT NOT NULL,
        SUPP_ID INT NOT NULL,
        PROD_PRICE INT NOT NULL,
        FOREIGN KEY (PRO_ID) REFERENCES product (PRO_ID),
        FOREIGN KEY (SUPP_ID) REFERENCES supplier (SUPP_ID)
    );
    """)

    # Create orders table
    cur.execute("""
    CREATE TABLE orders (
        ORD_ID INT NOT NULL PRIMARY KEY,
        ORD_AMOUNT INT NOT NULL,
        ORD_DATE DATE,
        CUS_ID INT NOT NULL,
        PROD_ID INT NOT NULL,
        FOREIGN KEY (CUS_ID) REFERENCES customer (CUS_ID),
        FOREIGN KEY (PROD_ID) REFERENCES product_details (PROD_ID)
    );
    """)

    # Create rating table
    cur.execute("""
    CREATE TABLE rating (
        RAT_ID INT NOT NULL PRIMARY KEY,
        CUS_ID INT NOT NULL,
        SUPP_ID INT NOT NULL,
        RAT_RATSTARS INT NOT NULL,
        FOREIGN KEY (SUPP_ID) REFERENCES supplier (SUPP_ID),
        FOREIGN KEY (CUS_ID) REFERENCES customer (CUS_ID)
    );
    """)

    # Commit the changes
    conn.commit()
    
except Exception as e:
    print(f"Error creating tables: {e}")
finally:
    # Close the cursor and connection
    cur.close()

### You are required to create a database named 'e_commerce'

In [112]:
import psycopg2  # Import psycopg2 for PostgreSQL connection

# Step 1: Connect to the default PostgreSQL database
default_conn = psycopg2.connect("postgresql://postgres:test@localhost:5432/postgres")
default_cur = default_conn.cursor()

# Step 2: Create the new database
try:
    # Execute CREATE DATABASE outside of any transaction block
    default_cur.execute("COMMIT;")  # Ensure no active transaction
    default_cur.execute("CREATE DATABASE e_commerce")
    print("Database 'e_commerce' created successfully.")
except Exception as e:
    print(f"Error creating database: {e}")

# Step 3: Close the connection to the default database
default_cur.close()
default_conn.close()

# Step 4: Connect to the newly created database
try:
    conn = psycopg2.connect("postgresql://postgres:test@localhost:5432/e_commerce")
    cur = conn.cursor()
    print("Connected to 'e_commerce' database successfully.")
except Exception as e:
    print(f"Error connecting to 'e_commerce' database: {e}")

Error creating database: database "e_commerce" already exists

Connected to 'e_commerce' database successfully.

### Q1. Create tables for supplier, customer, category, product, productDetails, order, rating to store the data for the E-commerce with the schema definition given below.


- **`supplier`**(SUPP_ID int primary key, SUPP_NAME varchar(50), SUPP_CITY varchar(50), SUPP_PHONE varchar(10))


- **`customer`** (CUS_ID INT NOT NULL, CUS_NAME VARCHAR(20) NULL DEFAULT NULL, CUS_PHONE VARCHAR(10), CUS_CITY varchar(30) ,CUS_GENDER CHAR,PRIMARY KEY (CUS_ID))


- **`category`** (CAT_ID INT NOT NULL, CAT_NAME VARCHAR(20) NULL DEFAULT NULL,PRIMARY KEY (CAT_ID))


- **`product`** (PRO_ID INT NOT NULL, PRO_NAME VARCHAR(20) NULL DEFAULT NULL, PRO_DESC VARCHAR(60) NULL DEFAULT NULL, CAT_ID INT NOT NULL,PRIMARY KEY (PRO_ID),FOREIGN KEY (CAT_ID) REFERENCES CATEGORY (CAT_ID))


- **`product_details`** (PROD_ID INT NOT NULL, PRO_ID INT NOT NULL, SUPP_ID INT NOT NULL, PROD_PRICE INT NOT NULL,
  PRIMARY KEY (PROD_ID),FOREIGN KEY (PRO_ID) REFERENCES PRODUCT (PRO_ID), FOREIGN KEY (SUPP_ID) REFERENCES SUPPLIER(SUPP_ID))
  
  
- **`order`** (ORD_ID INT NOT NULL, ORD_AMOUNT INT NOT NULL, ORD_DATE DATE, CUS_ID INT NOT NULL, PROD_ID INT NOT NULL,PRIMARY KEY (ORD_ID),FOREIGN KEY (CUS_ID) REFERENCES CUSTOMER(CUS_ID),FOREIGN KEY (PROD_ID) REFERENCES PRODUCT_DETAILS(PROD_ID))


- **`rating`** (RAT_ID INT NOT NULL, CUS_ID INT NOT NULL, SUPP_ID INT NOT NULL, RAT_RATSTARS INT NOT NULL,PRIMARY KEY (RAT_ID),FOREIGN KEY (SUPP_ID) REFERENCES SUPPLIER (SUPP_ID),FOREIGN KEY (CUS_ID) REFERENCES CUSTOMER(CUS_ID))

In [113]:
import psycopg2  # Import psycopg2 for PostgreSQL connection

# Step 1: Connect to the PostgreSQL database
try:
    conn = psycopg2.connect("postgresql://postgres:test@localhost:5432/e_commerce")
    cur = conn.cursor()

    # Execute your SQL statement
    try:
        cur.execute("""
        INSERT INTO supplier (SUPP_ID, SUPP_NAME, SUPP_CITY, SUPP_PHONE) VALUES 
        (1, 'Rajesh Retails', 'Delhi', '1234567890'),   -- Valid
        (2, 'Appario Ltd.', 'Mumbai', '2589631470'),     -- Truncated to fit
        (3, 'Knome products', 'Bangalore', '9785462315'), -- Valid
        (4, 'Bansal Retails', 'Kochi', '8975463285'),    -- Valid
        (5, 'Mittal Ltd.', 'Lucknow', '7898456532');      -- Valid
        """)
        
        # Commit the transaction
        conn.commit()

    except Exception as e:
        # Print any error messages to stdout
        print(f"Error executing SQL statement: {e}")
        
        # Rollback in case of error
        conn.rollback()

    finally:
        # Close the cursor
        cur.close()

except Exception as e:
    print(f"Error connecting to the database: {e}")

finally:
    # Close the connection
    if conn:
        conn.close()

### Q2. Insert the following data in the table created above
#### `Note:` If you are getting any error while inserting the data into tables, Kindly close the connection and reconnect

#### Table:  supplier
| SUPP_ID | SUPP_NAME | SUPP_CITY | SUPP_PHONE |
| --- | --- | --- | --- |
| 1 | Rajesh Retails | Delhi | 1234567890 |
| 2 | Appario Ltd. | Mumbai | 258963147032 |
| 3 | Knome products | Bangalore | 9785462315 |
| 4 | Bansal Retails | Kochi | 8975463285 |
| 5 | Mittal Ltd. | Lucknow | 7898456532 |

In [114]:
import psycopg2  # Import psycopg2 for PostgreSQL connection

# Step 1: Connect to the PostgreSQL database
try:
    conn = psycopg2.connect("postgresql://postgres:test@localhost:5432/e_commerce")
    cur = conn.cursor()

    # Execute your SQL statement
    try:
        cur.execute("""
        INSERT INTO supplier (SUPP_ID, SUPP_NAME, SUPP_CITY, SUPP_PHONE) VALUES 
        (1, 'Rajesh Retails', 'Delhi', '1234567890'),   -- Valid
        (2, 'Appario Ltd.', 'Mumbai', '2589631470'),     -- Truncated to fit
        (3, 'Knome products', 'Bangalore', '9785462315'), -- Valid
        (4, 'Bansal Retails', 'Kochi', '8975463285'),    -- Valid
        (5, 'Mittal Ltd.', 'Lucknow', '7898456532')      -- Valid
        ON CONFLICT (SUPP_ID) DO UPDATE
        SET SUPP_NAME = EXCLUDED.SUPP_NAME,
            SUPP_CITY = EXCLUDED.SUPP_CITY,
            SUPP_PHONE = EXCLUDED.SUPP_PHONE;
        """)
        
        # Commit the transaction
        conn.commit()

    except Exception as e:
        # Print any error messages to stdout
        print(f"Error executing SQL statement: {e}")
        
        # Rollback in case of error
        conn.rollback()

    finally:
        # Close the cursor
        cur.close()

except Exception as e:
    print(f"Error connecting to the database: {e}")

finally:
    # Close the connection
    if conn:
        conn.close()

#### Table:  customer
| CUS_ID | CUS_NAME | SUPP_PHONE | CUS_CITY | CUS_GENDER
| --- | --- | --- | --- | --- |
| 1 | AAKASH | 9999999999 | DELHI | M |
| 2 | AMAN | 9785463215 | NOIDA | M |
| 3 | NEHA | 9999999998 | MUMBAI | F |
| 4 | MEGHA | 9994562399 | KOLKATA | F |
| 5 | PULKIT | 7895999999 | LUCKNOW | M |

In [115]:
import psycopg2  # Import psycopg2 for PostgreSQL connection

# Step 1: Connect to the PostgreSQL database
conn = psycopg2.connect("postgresql://postgres:test@localhost:5432/e_commerce")

try:
    # Create a new cursor
    cur = conn.cursor()

    # Insert data into customer table
    cur.execute("""
    INSERT INTO customer (CUS_ID, CUS_NAME, CUS_PHONE, CUS_CITY, CUS_GENDER) VALUES 
    (1, 'AAKASH', '9999999999', 'DELHI', 'M'),
    (2, 'AMAN', '9785463215', 'NOIDA', 'M'),
    (3, 'NEHA', '9999999998', 'MUMBAI', 'F'),
    (4, 'MEGHA', '9994562399', 'KOLKATA', 'F'),
    (5, 'PULKIT', '7895999999', 'LUCKNOW', 'M');
    """)

    # Commit changes after inserts
    conn.commit()

except Exception as e:
    print(f"Error occurred: {e}")

finally:
    # Close the cursor and connection
    if 'cur' in locals() and cur:
        cur.close()
    if conn:
        conn.close()

#### Table:  category
| CAT_ID | CAT_NAME |
| --- | --- |  
| 1 | BOOKS |
| 2 | GAMES |  
| 3 | GROCERIES |
| 4 | ELECTRONICS |
| 5 | CLOTHES |

In [116]:
import psycopg2  # Import psycopg2 for PostgreSQL connection

# Step 1: Connect to the PostgreSQL database
conn = psycopg2.connect("postgresql://postgres:test@localhost:5432/e_commerce")

try:
    # Create a new cursor
    cur = conn.cursor()

    # Insert data into category table
    cur.execute("""
    INSERT INTO category (CAT_ID, CAT_NAME) VALUES 
    (1, 'BOOKS'),
    (2, 'GAMES'),
    (3, 'GROCERIES'),
    (4, 'ELECTRONICS'),
    (5, 'CLOTHES');
    """)

    # Commit changes after inserts
    conn.commit()

except Exception as e:
    print(f"Error occurred: {e}")

finally:
    # Close the cursor and connection
    if 'cur' in locals() and cur:
        cur.close()
    if conn:
        conn.close()

#### Table:  product
| PRO_ID | PRO_NAME | PRO_DESC | CAT_ID |
| --- | --- | --- | --- |
| 1 | GTA V | DFJDJFDJFDJFDJFJF | 2 |
| 2 | TSHIRT | DFDFJDFJDKFD | 5 |
| 3 | ROG LAPTOP | DFNTTNTNTERND | 4 |
| 4 | OATS | REURENTBTOTH | 3 |
| 5 | HARRY POTTER | NBEMCTHTJTH | 1 |

In [118]:
import psycopg2  # Import psycopg2 for PostgreSQL connection

# Step 1: Connect to the PostgreSQL database
conn = psycopg2.connect("postgresql://postgres:test@localhost:5432/e_commerce")

try:
    # Create a new cursor
    cur = conn.cursor()

    # Insert data into category table
    cur.execute("""
    INSERT INTO category (CAT_ID, CAT_NAME) VALUES 
    (1, 'BOOKS'),
    (2, 'GAMES'),
    (3, 'GROCERIES'),
    (4, 'ELECTRONICS'),
    (5, 'CLOTHES');
    """)

    # Insert data into customer table
    cur.execute("""
    INSERT INTO customer (CUS_ID, CUS_NAME, CUS_PHONE, CUS_CITY, CUS_GENDER) VALUES 
    (1, 'AAKASH', '9999999999', 'DELHI', 'M'),
    (2, 'AMAN', '9785463215', 'NOIDA', 'M'),
    (3, 'NEHA', '9999999998', 'MUMBAI', 'F'),
    (4, 'MEGHA', '9994562399', 'KOLKATA', 'F'),
    (5, 'PULKIT', '7895999999', 'LUCKNOW', 'M');
    """)

    # Insert data into product table
    cur.execute("""
    INSERT INTO product (PRO_ID, PRO_NAME, PRO_DESC, CAT_ID) VALUES 
    (1, 'GTA V', 'DFJDJFDJFDJFDJFJF', 2),
    (2, 'TSHIRT', 'DFDFJDFJDKFD', 5),
    (3, 'ROG LAPTOP', 'DFNTTNTNTERND', 4),
    (4, 'OATS', 'REURENTBTOTH', 3),
    (5, 'HARRY POTTER', 'NBEMCTHTJTH', 1);
    """)

    # Commit changes after inserts
    conn.commit()

except Exception as e:
    print(f"Error occurred: {e}")

finally:
    # Close the cursor and connection
    if 'cur' in locals() and cur:
        cur.close()
    if conn:
        conn.close()

Error occurred: duplicate key value violates unique constraint "category_pkey"
DETAIL:  Key (cat_id)=(1) already exists.

#### Table:  product_details
| PROD_ID | PRO_ID | SUPP_ID | PROD_PRICE |
| --- | --- | --- | --- |
| 1 | 1 | 2 | 1500 |
| 2 | 3 | 5 | 30000 |
| 3 | 5 | 1 | 3000 |
| 4 | 2 | 3 | 2500 |
| 5 | 4 | 1 | 1000 |

In [119]:
# Insert into product_details table
import psycopg2  # Import psycopg2 for PostgreSQL connection

# Step 1: Connect to the PostgreSQL database
conn = psycopg2.connect("postgresql://postgres:test@localhost:5432/e_commerce")

try:
    # Create a new cursor
    cur = conn.cursor()
    cur.execute("""
    INSERT INTO product_details (PROD_ID, PRO_ID, SUPP_ID, PROD_PRICE) VALUES 
    (1, 1, 2, 1500),
    (2, 3, 5, 30000),
    (3, 5, 1, 3000),
    (4, 2, 3, 2500),
    (5, 4, 1, 1000);
    """)
    # Commit changes after inserts
    conn.commit()

except Exception as e:
    print(f"Error occurred: {e}")

finally:
    # Close the cursor and connection
    if 'cur' in locals() and cur:
        cur.close()
    if conn:
        conn.close()

Error occurred: insert or update on table "product_details" violates foreign key constraint "product_details_pro_id_fkey"
DETAIL:  Key (pro_id)=(1) is not present in table "product".

#### Table:  orders
| ORD_ID | ORD_AMOUNT | ORD_DATE | CUS_ID | PROD_ID
| --- | --- | --- | --- | --- |
| 20 | 1500 | 2021-10-12 | 3 | 5 |
| 25 | 30500 | 2021-09-16 | 5 | 2 |
| 26 | 2000 | 2021-10-05 | 1 | 1 |
| 30 | 3500 | 2021-08-16 | 4 | 3 |
| 50 | 2000 | 2021-10-06 | 2 | 1 |

#### Table: rating
| RAT_ID | CUS_ID | SUPP_ID | RAT_RATSTARS |
| --- | --- | --- | --- |
| 1 | 2 | 2 | 4 |
| 2 | 3 | 4 | 3 |
| 3 | 5 | 1 | 5 |
| 4 | 1 | 3 | 2 |
| 5 | 4 | 5 | 4 |

In [120]:
# Insert into rating table
# Insert into product_details table
import psycopg2  # Import psycopg2 for PostgreSQL connection

# Step 1: Connect to the PostgreSQL database
conn = psycopg2.connect("postgresql://postgres:test@localhost:5432/e_commerce")

try:
    # Create a new cursor
    cur = conn.cursor()
    cur.execute("""
    INSERT INTO rating (RAT_ID,CUS_ID,SUPP_ID,RAT_RATSTARS) VALUES 
    (1 ,2 ,2 ,4), 
    (2 ,3 ,4 ,3), 
    (3 ,5 ,1 ,5), 
    (4 ,1 ,3 ,2), 
    (5 ,4 ,5 ,4);
    """)
    # Commit changes after inserts
    conn.commit()

except Exception as e:
    print(f"Error occurred: {e}")

finally:
    # Close the cursor and connection
    if 'cur' in locals() and cur:
        cur.close()
    if conn:
        conn.close()

### Q3) Display the number of the customer group by their genders who have placed any order of amount greater than or equal to Rs.3000.

In [121]:
import psycopg2  # Import psycopg2 for PostgreSQL connection

# Step 1: Connect to the PostgreSQL database
conn = psycopg2.connect("postgresql://postgres:test@localhost:5432/e_commerce")

try:
    # Create a new cursor
    cur = conn.cursor()    

    # Execute the SQL query
    cur.execute("""
    SELECT CUS_GENDER, COUNT(*) AS NumberOfCustomers 
    FROM customer 
    JOIN orders ON customer.CUS_ID = orders.CUS_ID 
    WHERE ORD_AMOUNT >= 3000 
    GROUP BY CUS_GENDER;
    """)

    # Fetch all results
    rows = cur.fetchall()

    # Display the results
    if rows:
        for row in rows:
            print(f"Gender: {row[0]}, Number of Customers: {row[1]}")
    else:
        print("No customers found with order amount >= 3000.")

except Exception as e:
    print(f"Error occurred: {e}")

finally:
    # Close the cursor and connection
    if 'cur' in locals() and cur:
        cur.close()
    if conn:
        conn.close()

No customers found with order amount >= 3000.

### Q4) Display all the order along with product name ordered by a customer having Customer_Id=2;

In [122]:
import psycopg2  # Import psycopg2 for PostgreSQL connection

# Step 1: Connect to the PostgreSQL database
conn = psycopg2.connect("postgresql://postgres:test@localhost:5432/e_commerce")

try:
    # Create a new cursor
    cur = conn.cursor()     

    # Execute the SQL query
    cur.execute("""
    SELECT o.*, p.PRO_NAME 
    FROM orders o 
    JOIN product_details pd ON o.PROD_ID = pd.PROD_ID 
    JOIN product p ON pd.PRO_ID = p.PRO_ID 
    WHERE o.CUS_ID = 2;
    """)

    # Fetch all results
    rows = cur.fetchall()

    # Display the results
    if rows:
        for row in rows:
            print(f"ORDER_ID: {row[0]}, ORDER_DATE: {row[1]}, ORDER_AMOUNT: {row[2]}, PRODUCT_NAME: {row[-1]}")
    else:
        print("No orders found for customer with CUS_ID = 2.")

except Exception as e:
    print(f"Error occurred: {e}")

finally:
    # Close the cursor and connection
    if 'cur' in locals() and cur:
        cur.close()
    if conn:
        conn.close()

No orders found for customer with CUS_ID = 2.

### Q5) Display the Supplier details who can supply more than one product.

In [123]:
import psycopg2  # Import psycopg2 for PostgreSQL connection

# Step 1: Connect to the PostgreSQL database
conn = psycopg2.connect("postgresql://postgres:test@localhost:5432/e_commerce")

try:
    # Create a new cursor
    cur = conn.cursor()   

    # Execute the SQL query
    cur.execute("""
    SELECT s.* 
    FROM supplier s 
    JOIN product_details pd ON s.SUPP_ID = pd.SUPP_ID 
    GROUP BY s.SUPP_ID 
    HAVING COUNT(pd.PROD_ID) > 1;
    """)

    # Fetch the result
    rows = cur.fetchall()

    # Display the result
    if rows:
        for row in rows:
            print(f"SUPP_ID: {row[0]}, SUPP_NAME: {row[1]}, Other Columns: {row[2:]}")
    else:
        print("No suppliers found with more than 1 product.")

except Exception as e:
    print(f"Error occurred: {e}")

finally:
    # Close the cursor and connection
    if 'cur' in locals() and cur:
        cur.close()
    if conn:
        conn.close()

No suppliers found with more than 1 product.

### Q6) Find the category of the product whose order amount is minimum.

In [124]:
import psycopg2  # Import psycopg2 for PostgreSQL connection

# Step 1: Connect to the PostgreSQL database
conn = psycopg2.connect("postgresql://postgres:test@localhost:5432/e_commerce")

try:
    # Create a new cursor
    cur = conn.cursor() 

    # Execute the SQL query
    cur.execute("""
    SELECT c.CAT_NAME 
    FROM category c 
    JOIN product p ON c.CAT_ID = p.CAT_ID 
    JOIN product_details pd ON p.PRO_ID = pd.PRO_ID 
    JOIN orders o ON pd.PROD_ID = o.PROD_ID 
    ORDER BY o.ORD_AMOUNT ASC LIMIT 1;
    """)

    # Fetch the result
    row = cur.fetchone()

    # Display the result
    if row:
        print(f"Category with lowest order amount: {row[0]}")
    else:
        print("No data found.")

except Exception as e:
    print(f"Error occurred: {e}")

finally:
    # Close the cursor and connection
    if 'cur' in locals() and cur:
        cur.close()
    if conn:
        conn.close()

No data found.

### Q7) Display the Id and Name of the Product ordered after “2021-10-05”.

In [125]:
import psycopg2  # Import psycopg2 for PostgreSQL connection

# Step 1: Connect to the PostgreSQL database
conn = psycopg2.connect("postgresql://postgres:test@localhost:5432/e_commerce")

try:
    # Create a new cursor
    cur = conn.cursor() 

    # Execute the SQL query
    cur.execute("""
    SELECT DISTINCT p.PRO_ID, p.PRO_NAME 
    FROM product p 
    JOIN product_details pd ON p.PRO_ID = pd.PRO_ID 
    JOIN orders o ON pd.PROD_ID = o.PROD_ID 
    WHERE o.ORD_DATE > '2021-10-05';
    """)

    # Fetch all rows from the result of the query
    rows = cur.fetchall()

    # Display the results
    if rows:
        for row in rows:
            print(f"Product ID: {row[0]}, Product Name: {row[1]}")
    else:
        print("No data found.")

except Exception as e:
    print(f"Error occurred: {e}")

finally:
    # Close the cursor and connection
    if 'cur' in locals() and cur:
        cur.close()
    if conn:
        conn.close()

No data found.

### Q8) Print the top 3 supplier name and id and rating on the basis of their rating along with the customer name who has given the rating.

In [126]:
import psycopg2  # Import psycopg2 for PostgreSQL connection

# Step 1: Connect to the PostgreSQL database
conn = psycopg2.connect("postgresql://postgres:test@localhost:5432/e_commerce")

try:
    # Create a new cursor
    cur = conn.cursor() 
    
    # Execute the SQL query
    cur.execute("""
    SELECT s.SUPP_NAME, s.SUPP_ID, AVG(r.RAT_RATSTARS) AS AverageRating, c.CUS_NAME
    FROM supplier s
    JOIN rating r ON s.SUPP_ID = r.SUPP_ID
    JOIN customer c ON r.CUS_ID = c.CUS_ID
    GROUP BY s.SUPP_NAME, s.SUPP_ID, c.CUS_NAME
    ORDER BY AverageRating DESC LIMIT 3;
    """)
    
    # Fetch all rows from the result of the query
    rows = cur.fetchall()
    
    # Display the results
    if rows:
        for row in rows:
            print(f"Supplier Name: {row[0]}, Supplier ID: {row[1]}, Average Rating: {row[2]}, Customer Name: {row[3]}")
    else:
        print("No data found.")

except Exception as e:
    print(f"Error occurred: {e}")

finally:
    # Close the cursor and connection
    if 'cur' in locals() and cur:
        cur.close()
    if conn:
        conn.close()

Supplier Name: Rajesh Retails, Supplier ID: 1, Average Rating: 5.0000000000000000, Customer Name: PULKIT
Supplier Name: Appario Ltd., Supplier ID: 2, Average Rating: 4.0000000000000000, Customer Name: AMAN
Supplier Name: Mittal Ltd., Supplier ID: 5, Average Rating: 4.0000000000000000, Customer Name: MEGHA

### Q9) Display customer name and gender whose names start or end with character 'A'.

In [127]:
import psycopg2  # Import psycopg2 for PostgreSQL connection

# Step 1: Connect to the PostgreSQL database
conn = psycopg2.connect("postgresql://postgres:test@localhost:5432/e_commerce")

try:
    # Create a new cursor
    cur = conn.cursor() 
    
    # Execute your SQL query
    cur.execute("""
    SELECT CUS_NAME, CUS_GENDER  
    FROM customer  
    WHERE CUS_NAME LIKE '%A' OR CUS_NAME LIKE 'A%';
    """)
    
    # Fetch all rows from the result of the query
    rows = cur.fetchall()
    
    # Check if there are any rows and display them
    if rows:
        for row in rows:
            print(f"Customer Name: {row[0]}, Gender: {row[1]}")
    else:
        print("No customers found with the specified condition.")

except Exception as e:
    print(f"Error occurred: {e}")

finally:
    # Close the cursor and connection
    if 'cur' in locals() and cur:
        cur.close()
    if conn:
        conn.close()

Customer Name: AAKASH, Gender: M
Customer Name: AMAN, Gender: M
Customer Name: NEHA, Gender: F
Customer Name: MEGHA, Gender: F

### Q10) Display the total order amount of the male customers.

In [128]:
import psycopg2  # Import psycopg2 for PostgreSQL connection

# Step 1: Connect to the PostgreSQL database
conn = psycopg2.connect("postgresql://postgres:test@localhost:5432/e_commerce")

try:
    # Create a new cursor
    cur = conn.cursor()

    # Execute your SQL query
    cur.execute("""
    SELECT SUM(o.ORD_AMOUNT) AS TotalOrderAmount 
    FROM orders o 
    JOIN customer c ON o.CUS_ID = c.CUS_ID 
    WHERE c.CUS_GENDER = 'M';
    """)

    # Fetch the result of the query
    result = cur.fetchone()  # Use fetchone() since we're selecting a single value

    # Check if a result was returned
    if result:
        print(f"Total Order Amount for Male Customers: {result[0]}")
    else:
        print("No data found.")

except Exception as e:
    print(f"Error occurred: {e}")

finally:
    # Close the cursor and connection
    if 'cur' in locals() and cur:
        cur.close()
    if conn:
        conn.close()

Total Order Amount for Male Customers: None

### Q11) Display all the Customers left outer join with  the orders

In [129]:
import psycopg2  # Import psycopg2 for PostgreSQL connection

# Step 1: Connect to the PostgreSQL database
conn = psycopg2.connect("postgresql://postgres:test@localhost:5432/e_commerce")

try:
    # Create a new cursor
    cur = conn.cursor()    
    
    # Execute your SQL query
    cur.execute("""
    SELECT c.*, o.* FROM customer c LEFT JOIN orders o ON c.CUS_ID = o.CUS_ID;
    """)
    
    # Fetch all rows from the result of the query
    rows = cur.fetchall()
    
    # Check if there are any rows
    if rows:
        for row in rows:
            print(row)  # Print each row
    else:
        print("No data found.")

except Exception as e:
    print(f"Error occurred: {e}")

finally:
    # Close the cursor and connection
    if 'cur' in locals() and cur:
        cur.close()
    if conn:
        conn.close()

(2, 'AMAN', '9785463215', 'NOIDA', 'M', None, None, None, None, None)
(5, 'PULKIT', '7895999999', 'LUCKNOW', 'M', None, None, None, None, None)
(4, 'MEGHA', '9994562399', 'KOLKATA', 'F', None, None, None, None, None)
(1, 'AAKASH', '9999999999', 'DELHI', 'M', None, None, None, None, None)
(3, 'NEHA', '9999999998', 'MUMBAI', 'F', None, None, None, None, None)

**NOTE:** Always close an open connection once you are done with the database operations

## Happy Learning:)